<script>
    mixpanel.track("Landing page loaded");
</script>

	<!-- product section -->
    <section class="product">
    	<div class="grid-container">
    		<div class="grid-100 mobile-grid-100 tablet-grid-100">
            
            <!-- entry-header -->
            <header class="entry-header">
            <h1 class="product-title">Revenue forecasting done right </h1>
            
            <p class="product-slogan">Accurate and efficient revenue projections <span style="color: #3498db;">based on historical data</span>, intelligently parsed with Forecaster. Sign up for <a href="#">early access</a></p>

						<div class="signup-div">
                            <%= form_for(@signup) do |f| %>
                          
                                <%= f.email_field :email, :class=>"email-input", :placeholder=>"Enter your email" %>
                           
                                <%= f.text_field :referer, :style=>"display:none;", :value=> request.url.split('/').last %>
                            
                                <%= button_tag( :class=>"product-link", :id=>"submit-email") do %>
                                    Sign up for early access<i class="icon-user"></i>
                                <% end %>
                          
                            <% end %>
    					
          	             </div>

            </header>
            <!-- close entry-header -->
            
            <!-- product image -->
            <%= image_tag "screenshot.png", :id=>"screenshot", :alt=>"Trenton" %>
            <!-- close product image -->      
            
            </div>													
    	</div>
    </section><!-- close product section -->
    
    <div class="clear"></div>
    
    <!-- information section -->
	<section id="information-section" class="information-section">
		<div class="grid-container">
        	
            <!-- icon box 1 -->
			<div class="grid-33 mobile-grid-100 tablet-grid-100">
				<i class="icon-table icon-4x main-icon"></i> 
                <div class="info"> 
                <h3>Easy Excel upload</h3>
				<p>Upload historical data and get set up in less than 1 minute or have our customer experience team do it for you</p>
                </div>
			</div><!-- close icon box -->
            
            <!-- icon box 2 -->
			<div class="grid-33 mobile-grid-100 tablet-grid-100">
                <i class="icon-bullseye icon-4x main-icon"></i> 
                <div class="info">
                <h3>Accurate to your knowledge</h3>
				<p>Make forecasts based on the information you know, whether it’s a high-level estimate or granular detail</p>
               </div>	
			</div><!-- close icon box -->
            
            <!-- icon box 3 -->
			<div class="grid-33 mobile-grid-100 tablet-grid-100">
                <i class="icon-group icon-4x main-icon"></i> 
                <div class="info">
                <h3>Manage team forecasts</h3>
				<p>Open up forecasting to team members and manage forecast changes with revision control and approval functionality</p>
                </div>
			</div><!-- close icon box -->
			
		</div><!-- close grid-container -->
	</section><!-- close information section -->
    
    <div class="clear"></div>

	<!-- testimonial section -->
	<section id="testimonial" class="testimonial-section">
		<div class="grid-container">
					
			<div class="grid-100 mobile-grid-100 tablet-grid-100">
            	
                <!-- entry header -->
            	<header class="entry-header">
                    <h2 class="entry-title">You're in good company</h2>
                </header><!-- close entry header -->
     
			</div>
            
            <!-- testimonial 1 -->
            <div class="grid-33">
            	<figure class="testimonial_image">
            		<%= image_tag "testimonial-1.jpg", :alt=>"t1" %>
                </figure>
                
            	<div class="testimonial">
            	<p>"Forecaster is what we wish we had years ago. [We] used to spend days each month on updating and editing forecasts that had terrible accuracy. Now we get a more accurate forecast in a tenth of the time"</p>
                <span class="testimonial-name">- <strong>J. Evans</strong>, Americo Flooring</span>
            	</div>
            </div>
            <!-- close testimonial -->
            
            <!-- testimonial 2 -->
            <div class="grid-33">
            <figure class="testimonial_image">
            		<%= image_tag "testimonial-2.jpg", :alt=>"t2" %>
                </figure>
                
            	<div class="testimonial">
                <p>"The revision control tools make collecting forecast input from the broader team incredibly easy. We can see the suggested changes, read the rationale, and make edits before approving forecast changes."</p>
                <span class="testimonial-name">- <strong>P. Donaghy</strong>, Cosmo Motors</span>
            	</div>
            </div>
            <!-- close testimonial -->
            
            <!-- testimonial 3 -->
            <div class="grid-33">
            <figure class="testimonial_image">
            		<%= image_tag "testimonial-3.jpg", :alt=>"t3" %>
                </figure>
                
            	<div class="testimonial">
                <p>"It's straightforward and gets the job done. We can adjust forecasts on at overall level and get as detailed as by a customer's store location. Everything gets captured!"</p>
                <span class="testimonial-name">- <strong>B. Potter</strong>, American Lumber Yard</span>
            	</div>  
            </div>
            <!-- close testimonial -->
  
		</div><!-- close container -->
	</section><!-- close testimonial section -->
    
    <div class="clear"></div>
    
    <!-- Call to Action bottom section -->
    <section id="cta" class="cta">
		<div class="grid-container">
        	    
                <!-- CTA -->  
            	<div class="grid-50 mobile-grid-100 tablet-grid-100">
                    <h2 class="cta-title">Sign up for early access today!</h2>
                    <p class="cta-slogan">There's no risk, no obligation, and no credit card required.</p>
                </div>
                
                <div class="grid-45 prefix-5 mobile-grid-100 tablet-grid-100">
              	<a class="product-link cta-button" style="color:#fff;" href="#">Sign up for early access<i class="icon-user"></i></a>
           		</div>
                <!-- close CTA --> 	
           
		</div><!-- close grid container -->
	</section><!-- close parallax banner 1-->
    
    <div class="clear"></div>